* {
  margin: 0;
  padding: 0;
}
.container {
  margin-left: 10%;
  margin-right: 10%;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin: 24px;
}

.modal-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-box {
  height: 500px;
  width: 800px;
  border-radius: 8px;
  position: relative;
  border: 2px solid #aaa;
  margin: auto;
  background: white;
  padding: 24px;
}

.modal-close {
  position: absolute;
  top: 2px;
  right: 8px;
  font-weight: bold;
  font-size: 2rem;
  font-family: monospace;
}

.modal-close:hover {
  color: #aaa;
  cursor: pointer;
}

.modal-title {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 16px;
  border-bottom: 1px solid lavender;
}

.modal-body {
  min-height: 70%;
  margin-top: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid lavender;
}

.btn {
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  width: 160px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  float: right;
}

label {
  font-size: 1.3rem;
}

input {
  height: 32px;
  width: 80%;
  border-radius: 4px;
  margin: 16px;
}

.my-btn {
  width: 300px;
  margin: 24px 24px 24px 0px;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.icon-danger {
  border-radius: 16px;
  color: white;
  background-color: #b8211c;
  border-color: #d43f3a;
  font-size: 16px;
  width: 64px;
  height: 24px;
  text-align: center;
  padding-top: 4px;
  margin: auto;
}

.icon-danger:hover {
  background-color: #750a06;
  cursor: pointer;
}
